<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <ApplicationRevision>21</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>False</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
    <GenerateManifests>True</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Disk</InstallFrom>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>False</IsWebBootstrapper>
    <MapFileExtensions>False</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <PublishDir>bin\publish\</PublishDir>
    <PublishUrl>bin\publish\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>True</PublishSingleFile>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>(なし)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <TargetFramework>net5.0-windows</TargetFramework>
    <UpdateEnabled>False</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>Publish.htm</WebPageFileName>
    <History>True|2021-04-22T02:34:50.4715737Z;True|2021-04-22T11:22:46.4223870+09:00;True|2021-04-22T11:10:49.0687399+09:00;True|2021-04-22T11:02:41.3896207+09:00;True|2021-04-22T10:56:47.9860627+09:00;True|2021-04-22T10:39:19.6695106+09:00;True|2021-04-22T10:36:26.5169370+09:00;True|2021-04-22T10:34:09.0563868+09:00;True|2021-04-21T15:29:07.8961128+09:00;True|2021-04-21T15:26:11.6756175+09:00;True|2021-04-21T15:22:27.2450708+09:00;True|2021-04-21T14:54:43.3272605+09:00;True|2021-04-21T14:52:31.6178355+09:00;</History>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.5.0.x64">
      <Install>true</Install>
      <ProductName>.NET デスクトップ ランタイムム 5.0.5 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>